@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-image: url("https://images.unsplash.com/photo-1515895309288-a3815ab7cf81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}
p,
h1,
h3,
h4,
li {
  font-family: "Roboto", sans-serif !important;
}
a:hover {
  text-decoration: none;
}
#results {
  max-height: 60vh;
  overflow: scroll;
}
input[type="button"] {
  height: 5vh;
  color: red;
}

.nomination-text {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  width: 710px;
  position: relative;
  background: rgb(80, 80, 80);
  background: rgba(85, 85, 85, 0.7);
  border-radius: 5px;
}
h1 {
  letter-spacing: 10px;
  font-size: 4.5em;
}
.jumbotron h4 {
  text-shadow: -0.5px 0 rgb(1, 102, 6), 0 0.75px rgb(1, 102, 6), 0.75px 0 white,
    0 -0.5px white;
}
.jumbotron h1 {
  text-shadow: -1px 0 rgb(1, 102, 6), 0 1.5px rgb(1, 102, 6), 1.5px 0 white,
    0 -1px white;
}

.jumbotron-text {
  color: white;
}

.jumbotron {
  background-image: url("https://lh3.googleusercontent.com/proxy/wMnhGL-gifBeaQNkZzPBiOW2clKj8TYU3Hx78Qp63-310VZ1E0xFCYoijNFY_tmYs5KvVarakMQHoCSe3t_AHzWd7lG1n1E");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
